Colab/diffusion/__pycache__/denoisingNet.cpython-39.pyc
Colab/diffusion/__pycache__/diffusion.cpython-39.pyc
Colab/diffusion/__pycache__/getResnet.cpython-39.pyc
Colab/diffusion/__pycache__/LoadCarRacingData.cpython-39.pyc
Colab/diffusion/__pycache__/Unet.cpython-39.pyc
Colab/diffusion/utils/__pycache__/functions.cpython-39.pyc
Colab/diffusion/__pycache__/denoisingNet.cpython-39.pyc
Colab/diffusion/__pycache__/diffusion.cpython-39.pyc
Colab/diffusion/__pycache__/getResnet.cpython-39.pyc
Colab/diffusion/__pycache__/LoadCarRacingData.cpython-39.pyc
Colab/diffusion/__pycache__/Unet.cpython-39.pyc
Colab/diffusion/utils/__pycache__/functions.cpython-39.pyc
data/multipleDrivingBehaviours_parallel_train.zarr.zip
tb_logs/version_0/events.out.tfevents.1686714445.armlab.72560.0
tb_logs/version_0/hparams.yaml
tb_logs/version_1/events.out.tfevents.1686714492.armlab.73134.0
tb_logs/version_1/hparams.yaml
tb_logs/version_10/events.out.tfevents.1686719339.armlab.229888.0
tb_logs/version_10/events.out.tfevents.1686719350.armlab.229888.1
tb_logs/version_10/hparams.yaml
tb_logs/version_10/checkpoints/epoch=4.ckpt
tb_logs/version_10/checkpoints/epoch=9.ckpt
tb_logs/version_10/checkpoints/epoch=14.ckpt
tb_logs/version_11/events.out.tfevents.1686719853.armlab.271244.0
tb_logs/version_11/events.out.tfevents.1686719864.armlab.271244.1
tb_logs/version_11/hparams.yaml
tb_logs/version_11/checkpoints/epoch=4.ckpt
tb_logs/version_11/checkpoints/epoch=9.ckpt
tb_logs/version_12/events.out.tfevents.1686720207.armlab.301294.0
tb_logs/version_12/events.out.tfevents.1686720217.armlab.301294.1
tb_logs/version_12/hparams.yaml
tb_logs/version_12/checkpoints/epoch=4.ckpt
tb_logs/version_12/checkpoints/epoch=9.ckpt
tb_logs/version_12/checkpoints/epoch=14.ckpt
tb_logs/version_13/events.out.tfevents.1686720778.armlab.343869.0
tb_logs/version_13/events.out.tfevents.1686720786.armlab.343869.1
tb_logs/version_13/hparams.yaml
tb_logs/version_14/events.out.tfevents.1686721032.armlab.346729.0
tb_logs/version_14/events.out.tfevents.1686721040.armlab.346729.1
tb_logs/version_14/hparams.yaml
tb_logs/version_15/events.out.tfevents.1686721161.armlab.348781.0
tb_logs/version_15/events.out.tfevents.1686721180.armlab.348781.1
tb_logs/version_15/hparams.yaml
tb_logs/version_16/events.out.tfevents.1686721205.armlab.350630.0
tb_logs/version_16/hparams.yaml
tb_logs/version_17/events.out.tfevents.1686721292.armlab.351561.0
tb_logs/version_17/events.out.tfevents.1686721324.armlab.351561.1
tb_logs/version_17/hparams.yaml
tb_logs/version_18/events.out.tfevents.1686721383.armlab.354705.0
tb_logs/version_18/events.out.tfevents.1686721438.armlab.354705.1
tb_logs/version_18/hparams.yaml
tb_logs/version_19/events.out.tfevents.1686721464.armlab.356520.0
tb_logs/version_19/hparams.yaml
tb_logs/version_2/events.out.tfevents.1686714581.armlab.73718.0
tb_logs/version_2/events.out.tfevents.1686714592.armlab.73718.1
tb_logs/version_2/hparams.yaml
tb_logs/version_2/checkpoints/epoch=4.ckpt
tb_logs/version_2/checkpoints/epoch=9.ckpt
tb_logs/version_20/events.out.tfevents.1686721491.armlab.357273.0
tb_logs/version_20/events.out.tfevents.1686721553.armlab.357273.1
tb_logs/version_20/hparams.yaml
tb_logs/version_21/events.out.tfevents.1686721787.armlab.360410.0
tb_logs/version_21/events.out.tfevents.1686721838.armlab.360410.1
tb_logs/version_21/hparams.yaml
tb_logs/version_22/events.out.tfevents.1686721915.armlab.362968.0
tb_logs/version_22/events.out.tfevents.1686721972.armlab.362968.1
tb_logs/version_22/hparams.yaml
tb_logs/version_23/events.out.tfevents.1686721997.armlab.364137.0
tb_logs/version_23/events.out.tfevents.1686722054.armlab.364137.1
tb_logs/version_23/hparams.yaml
tb_logs/version_24/events.out.tfevents.1686722394.armlab.367673.0
tb_logs/version_24/hparams.yaml
tb_logs/version_25/events.out.tfevents.1686722414.armlab.368042.0
tb_logs/version_25/hparams.yaml
tb_logs/version_26/events.out.tfevents.1686722433.armlab.368389.0
tb_logs/version_26/hparams.yaml
tb_logs/version_27/events.out.tfevents.1686722458.armlab.368761.0
tb_logs/version_27/events.out.tfevents.1686722475.armlab.368761.1
tb_logs/version_27/hparams.yaml
tb_logs/version_28/events.out.tfevents.1686722498.armlab.369700.0
tb_logs/version_28/events.out.tfevents.1686722520.armlab.369700.1
tb_logs/version_28/hparams.yaml
tb_logs/version_29/events.out.tfevents.1686722898.armlab.375619.0
tb_logs/version_29/hparams.yaml
tb_logs/version_3/events.out.tfevents.1686715022.armlab.91284.0
tb_logs/version_3/events.out.tfevents.1686715034.armlab.91284.1
tb_logs/version_3/hparams.yaml
tb_logs/version_3/checkpoints/epoch=4.ckpt
tb_logs/version_3/checkpoints/epoch=9.ckpt
tb_logs/version_3/checkpoints/epoch=14.ckpt
tb_logs/version_3/checkpoints/epoch=19.ckpt
tb_logs/version_3/checkpoints/epoch=24.ckpt
tb_logs/version_30/events.out.tfevents.1686723033.armlab.376518.0
tb_logs/version_30/hparams.yaml
tb_logs/version_31/events.out.tfevents.1686723091.armlab.377722.0
tb_logs/version_31/events.out.tfevents.1686723108.armlab.377722.1
tb_logs/version_31/hparams.yaml
tb_logs/version_32/events.out.tfevents.1686723176.armlab.379532.0
tb_logs/version_32/events.out.tfevents.1686723206.armlab.379532.1
tb_logs/version_32/hparams.yaml
tb_logs/version_33/events.out.tfevents.1686723229.armlab.381272.0
tb_logs/version_33/events.out.tfevents.1686723262.armlab.381272.1
tb_logs/version_33/hparams.yaml
tb_logs/version_34/events.out.tfevents.1686723862.armlab.389347.0
tb_logs/version_34/events.out.tfevents.1686723893.armlab.389347.1
tb_logs/version_34/hparams.yaml
tb_logs/version_35/events.out.tfevents.1686724062.armlab.390801.0
tb_logs/version_35/events.out.tfevents.1686724075.armlab.390801.1
tb_logs/version_35/hparams.yaml
tb_logs/version_35/checkpoints/epoch=4.ckpt
tb_logs/version_36/events.out.tfevents.1686724634.armlab.400062.0
tb_logs/version_36/events.out.tfevents.1686724647.armlab.400062.1
tb_logs/version_36/hparams.yaml
tb_logs/version_37/events.out.tfevents.1686725046.armlab.403676.0
tb_logs/version_37/events.out.tfevents.1686725054.armlab.403676.1
tb_logs/version_37/hparams.yaml
tb_logs/version_38/events.out.tfevents.1686725099.armlab.406559.0
tb_logs/version_38/events.out.tfevents.1686725107.armlab.406559.1
tb_logs/version_38/hparams.yaml
tb_logs/version_39/events.out.tfevents.1686725132.armlab.408403.0
tb_logs/version_39/events.out.tfevents.1686725138.armlab.408403.1
tb_logs/version_39/hparams.yaml
tb_logs/version_39/checkpoints/epoch=4.ckpt
tb_logs/version_39/checkpoints/epoch=9.ckpt
tb_logs/version_4/events.out.tfevents.1686716013.armlab.126067.0
tb_logs/version_4/events.out.tfevents.1686716025.armlab.126067.1
tb_logs/version_4/hparams.yaml
tb_logs/version_4/checkpoints/epoch=4.ckpt
tb_logs/version_4/checkpoints/epoch=9.ckpt
tb_logs/version_4/checkpoints/epoch=14.ckpt
tb_logs/version_4/checkpoints/epoch=19.ckpt
tb_logs/version_4/checkpoints/epoch=24.ckpt
tb_logs/version_40/events.out.tfevents.1686725526.armlab.433746.0
tb_logs/version_40/hparams.yaml
tb_logs/version_41/events.out.tfevents.1686725626.armlab.435083.0
tb_logs/version_41/hparams.yaml
tb_logs/version_42/events.out.tfevents.1686725845.armlab.436339.0
tb_logs/version_42/hparams.yaml
tb_logs/version_43/events.out.tfevents.1686726677.armlab.438231.0
tb_logs/version_43/hparams.yaml
tb_logs/version_44/events.out.tfevents.1686726792.armlab.439278.0
tb_logs/version_44/events.out.tfevents.1686726799.armlab.439278.1
tb_logs/version_44/hparams.yaml
tb_logs/version_45/events.out.tfevents.1686726949.armlab.441416.0
tb_logs/version_45/events.out.tfevents.1686726954.armlab.441416.1
tb_logs/version_45/hparams.yaml
tb_logs/version_45/checkpoints/epoch=4.ckpt
tb_logs/version_45/checkpoints/epoch=9.ckpt
tb_logs/version_45/checkpoints/epoch=14.ckpt
tb_logs/version_45/checkpoints/epoch=19.ckpt
tb_logs/version_46/events.out.tfevents.1686727471.armlab.472325.0
tb_logs/version_46/events.out.tfevents.1686727475.armlab.472325.1
tb_logs/version_46/hparams.yaml
tb_logs/version_46/checkpoints/epoch=4.ckpt
tb_logs/version_46/checkpoints/epoch=9.ckpt
tb_logs/version_46/checkpoints/epoch=14.ckpt
tb_logs/version_46/checkpoints/epoch=19.ckpt
tb_logs/version_47/events.out.tfevents.1686728172.armlab.501581.0
tb_logs/version_47/events.out.tfevents.1686728176.armlab.501581.1
tb_logs/version_47/hparams.yaml
tb_logs/version_47/checkpoints/epoch=4.ckpt
tb_logs/version_47/checkpoints/epoch=9.ckpt
tb_logs/version_47/checkpoints/epoch=14.ckpt
tb_logs/version_47/checkpoints/epoch=19.ckpt
tb_logs/version_48/events.out.tfevents.1686758709.armlab.537679.0
tb_logs/version_48/hparams.yaml
tb_logs/version_49/events.out.tfevents.1686759005.armlab.539648.0
tb_logs/version_49/hparams.yaml
tb_logs/version_5/events.out.tfevents.1686717166.armlab.156780.0
tb_logs/version_5/events.out.tfevents.1686717180.armlab.156780.1
tb_logs/version_5/hparams.yaml
tb_logs/version_5/checkpoints/epoch=4.ckpt
tb_logs/version_5/checkpoints/epoch=9.ckpt
tb_logs/version_5/checkpoints/epoch=14.ckpt
tb_logs/version_5/checkpoints/epoch=19.ckpt
tb_logs/version_5/checkpoints/epoch=24.ckpt
tb_logs/version_50/events.out.tfevents.1686759185.armlab.541349.0
tb_logs/version_50/hparams.yaml
tb_logs/version_51/events.out.tfevents.1686759226.armlab.542557.0
tb_logs/version_51/hparams.yaml
tb_logs/version_52/events.out.tfevents.1686759315.armlab.544011.0
tb_logs/version_52/hparams.yaml
tb_logs/version_53/events.out.tfevents.1686759412.armlab.545884.0
tb_logs/version_53/hparams.yaml
tb_logs/version_54/events.out.tfevents.1686759515.armlab.547855.0
tb_logs/version_54/hparams.yaml
tb_logs/version_55/events.out.tfevents.1686759652.armlab.549755.0
tb_logs/version_55/hparams.yaml
tb_logs/version_56/events.out.tfevents.1686760665.armlab.556401.0
tb_logs/version_56/hparams.yaml
tb_logs/version_57/events.out.tfevents.1686762735.armlab.568684.0
tb_logs/version_57/hparams.yaml
tb_logs/version_58/events.out.tfevents.1686762986.armlab.571245.0
tb_logs/version_58/hparams.yaml
tb_logs/version_59/events.out.tfevents.1686763057.armlab.572770.0
tb_logs/version_59/hparams.yaml
tb_logs/version_6/events.out.tfevents.1686718703.armlab.215529.0
tb_logs/version_6/hparams.yaml
tb_logs/version_60/events.out.tfevents.1686763439.armlab.575983.0
tb_logs/version_60/hparams.yaml
tb_logs/version_61/events.out.tfevents.1686763737.armlab.578762.0
tb_logs/version_61/hparams.yaml
tb_logs/version_62/events.out.tfevents.1686763830.armlab.580526.0
tb_logs/version_62/hparams.yaml
tb_logs/version_63/events.out.tfevents.1686763865.armlab.581853.0
tb_logs/version_63/events.out.tfevents.1686763870.armlab.581853.1
tb_logs/version_63/hparams.yaml
tb_logs/version_63/checkpoints/epoch=4.ckpt
tb_logs/version_64/events.out.tfevents.1686764160.armlab.595511.0
tb_logs/version_64/hparams.yaml
tb_logs/version_65/events.out.tfevents.1686764251.armlab.596689.0
tb_logs/version_65/events.out.tfevents.1686764256.armlab.596689.1
tb_logs/version_65/hparams.yaml
tb_logs/version_65/checkpoints/epoch=4.ckpt
tb_logs/version_65/checkpoints/epoch=9.ckpt
tb_logs/version_65/checkpoints/epoch=14.ckpt
tb_logs/version_66/events.out.tfevents.1686765295.armlab.629502.0
tb_logs/version_66/events.out.tfevents.1686765303.armlab.629502.1
tb_logs/version_66/hparams.yaml
tb_logs/version_67/events.out.tfevents.1686768373.armlab.633034.0
tb_logs/version_67/events.out.tfevents.1686768378.armlab.633034.1
tb_logs/version_67/hparams.yaml
tb_logs/version_67/checkpoints/epoch=4.ckpt
tb_logs/version_67/checkpoints/epoch=9.ckpt
tb_logs/version_67/checkpoints/epoch=14.ckpt
tb_logs/version_67/checkpoints/epoch=19.ckpt
tb_logs/version_68/events.out.tfevents.1686772706.armlab.663990.0
tb_logs/version_68/hparams.yaml
tb_logs/version_69/events.out.tfevents.1686772733.armlab.665043.0
tb_logs/version_69/hparams.yaml
tb_logs/version_7/events.out.tfevents.1686718772.armlab.216606.0
tb_logs/version_7/events.out.tfevents.1686718782.armlab.216606.1
tb_logs/version_7/hparams.yaml
tb_logs/version_70/events.out.tfevents.1686772785.armlab.666428.0
tb_logs/version_70/hparams.yaml
tb_logs/version_71/events.out.tfevents.1686772947.armlab.667496.0
tb_logs/version_71/hparams.yaml
tb_logs/version_72/events.out.tfevents.1686773918.armlab.672144.0
tb_logs/version_72/hparams.yaml
tb_logs/version_73/events.out.tfevents.1686773984.armlab.673567.0
tb_logs/version_73/hparams.yaml
tb_logs/version_74/events.out.tfevents.1686774262.armlab.675477.0
tb_logs/version_74/hparams.yaml
tb_logs/version_75/events.out.tfevents.1686774327.armlab.676787.0
tb_logs/version_75/hparams.yaml
tb_logs/version_76/events.out.tfevents.1686774353.armlab.677949.0
tb_logs/version_76/hparams.yaml
tb_logs/version_77/events.out.tfevents.1686774440.armlab.678834.0
tb_logs/version_77/hparams.yaml
tb_logs/version_78/events.out.tfevents.1686774492.armlab.679595.0
tb_logs/version_78/hparams.yaml
tb_logs/version_79/events.out.tfevents.1686774587.armlab.680945.0
tb_logs/version_79/hparams.yaml
tb_logs/version_8/events.out.tfevents.1686718871.armlab.226600.0
tb_logs/version_8/hparams.yaml
tb_logs/version_80/events.out.tfevents.1686774621.armlab.682092.0
tb_logs/version_80/hparams.yaml
tb_logs/version_81/events.out.tfevents.1686774676.armlab.683267.0
tb_logs/version_81/hparams.yaml
tb_logs/version_82/events.out.tfevents.1686774720.armlab.683967.0
tb_logs/version_82/hparams.yaml
tb_logs/version_83/events.out.tfevents.1686774846.armlab.685427.0
tb_logs/version_83/hparams.yaml
tb_logs/version_84/events.out.tfevents.1686774938.armlab.686775.0
tb_logs/version_84/events.out.tfevents.1686774949.armlab.686775.1
tb_logs/version_84/hparams.yaml
tb_logs/version_84/checkpoints/epoch=4.ckpt
tb_logs/version_84/checkpoints/epoch=9.ckpt
tb_logs/version_84/checkpoints/epoch=14.ckpt
tb_logs/version_84/checkpoints/epoch=19.ckpt
tb_logs/version_84/checkpoints/epoch=24.ckpt
tb_logs/version_84/checkpoints/epoch=29.ckpt
tb_logs/version_84/checkpoints/epoch=34.ckpt
tb_logs/version_84/checkpoints/epoch=39.ckpt
tb_logs/version_84/checkpoints/epoch=44.ckpt
tb_logs/version_84/checkpoints/epoch=49.ckpt
tb_logs/version_85/events.out.tfevents.1686775547.armlab.712042.0
tb_logs/version_85/hparams.yaml
tb_logs/version_9/events.out.tfevents.1686718917.armlab.227672.0
tb_logs/version_9/hparams.yaml
